######################################
## composer install             php composer.phar install --optimize-autoloader
## composer update              php composer.phar update --optimize-autoloader
## composer optimize            php composer.phar dump-autoload --optimize


/vendor
/node_modules
.env
